# Images dataset
image/

# Training data
dataTrain/
dataTrain_box/
models/2gestures/dataTrain/
models/3gestures/dataTrain/
models/5gestures/dataTrain/
models/10gestures/dataTrain/
models/14gestures/dataTrain/
models/retrainTest/dataTrain/

# Final model
final_model/
final_model16/
final_model_10_16/
final_model_15_16/
final_model_box/
models/2gestures/final_model/
models/3gestures/final_model/
models/5gestures/final_model/
models/10gestures/final_model/
models/14gestures/final_model/
models/retrainTest/final_model/
models/retrainTest/final_model_new/

#Solution build
build/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
